<div class="row">
    <div class="col-md-8 justify-content-center">
        <div class="comoLlegarBody">
            <div class="comoLlegarTexto">
                <h1>@ViewData["Título"]</h1>
                <p>@ViewData["Descripcion"]</p>
            </div>
            <div class="comoLlegarMapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11179.896796361454!2d-85.70523943805627!3d10.550049869162946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9e299a8139502d%3A0x9e957256d13030f0!2sPlaya%20Del%20Coco!5e0!3m2!1ses!2scr!4v1651078685258!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
