@model Hotel_El_Dorado_Admin.Models.OfertaModel

@{
    ViewData["Title"] = "EditarOferta";
    OfertaModel t = (OfertaModel)ViewData["data"];
}

<h1>EditarOferta</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarOferta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_Oferta" class="control-label"></label>
                <input asp-for="ID_Oferta" class="form-control" readonly/>
                <span asp-validation-for="ID_Oferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oferta" class="control-label"></label>
                <input asp-for="Oferta" class="form-control" />
                <span asp-validation-for="Oferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de comienzo:</label>
                <input type="date" class="form-control form-control-sm" asp-for="Fecha_Inicio" id="Fecha_Inicio" required href="javascript:;" onchange="verificarFecha(); return false;" min="@DateTime.Now.ToString("yyyy-MM-dd")" >
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de final:</label>
                <input type="date" class="form-control form-control-sm" asp-for="Fecha_Fin" id="Fecha_Fin" required href="javascript:;" onchange="verificarFecha(); return false;" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")"  >
            </div>
            <div class="form-group">
                <input asp-controller="Oferta" asp-action="ModificarOferta" type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
