@model Hotel_El_Dorado_Admin.Models.OfertaModel

@{
    ViewData["Title"] = "Insertar Oferta";
}

<h1>Insertar Oferta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertarOferta" enctype="multipart/form-data" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger">Oferta</div>
            <div class="form-group">
                <label asp-for="Oferta" class="control-label">Seleccione el porcentaje de la oferta</label>
                <input asp-for="Oferta" class="form-control" />
                <span asp-validation-for="Oferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="myfile">Seleccione la imagen:</label>
                <input type="file"class="form-control form-control-sm"  asp-for="Imagen" id="Imagen" name="Imagen">
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de comienzo:</label>
                <input type="date" class="form-control form-control-sm" asp-for="Fecha_Inicio" id="fechaInicio" required href="javascript:;" onchange="verificarFecha(); return false;" min="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de final:</label>
                <input type="date" class="form-control form-control-sm" asp-for="Fecha_Fin" id="fechaFin" required href="javascript:;" onchange="verificarFecha(); return false;" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <select asp-for="Tipo_Habitacion" name="Tipo_Habitacion">
                    <option value="1">Junior</option>
                    <option value="2">Estándar</option>
                    <option value="3">Suite</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-controller="Oferta" asp-action="guardarOferta" type="submit" value="Insertar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
