<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel_El_Dorado_Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/js/functions.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Estilo.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
   <header>
       <div class="row logoContent">
            <div class="col-4 logo">
                <a asp-controller="Administrador" asp-action="Index" class="logoImagen"><img class="logoImagen" src="~/img/logos.png"></a>
                <h2 id="h2">Hotel El Dorado</h2>
                <span id="h2">Modulo Administrativo</span>
            </div>
       </div>
    </header>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="collapsibleNavbar">
                        <div class="list-group  sidebar">
                            <a asp-controller="Administrador" asp-action="Index" class="list-group-item list-group-item-action">Home</a>
                            <a class="list-group-item list-group-item-action">Modificar Páginas</a>
                            <a class="list-group-item list-group-item-action">Listado de reservaciones</a>
                            <a class="list-group-item list-group-item-action">Administrar habitaciones</a>
                            <a class="list-group-item list-group-item-action">Ver estado del hotel hoy</a>
                            <a class="list-group-item list-group-item-action">Consultar disponibilidad de habitaciones</a>
                            <a class="list-group-item list-group-item-action">Publicidad</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-6">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="containerFooter">
           Copyright&copy;Hotel El Dorado 2022
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
