
<body>
    <div class="text-center">
        <h1>Texto de prueba en facilidades</h1>
        @{
        string[,] data = (string[,]) ViewData["data"];
        }
        @for(int i = 0; i < data.Rank; i++)
        {
            <div id="bFacilidad">
                <h1>@data[i, 0]</h1>
                <h1>@data[i, 1]</h1>
            </div>
        }
    </div>
</body>

@section LeftSidebar {
    <div class="list-group col-lg-3 sidebar">
        <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action">home</a>
        <a href="#" class="list-group-item list-group-item-action">Sobre nosotros</a>
        <a asp-controller="Facilidad" asp-action="Index" class="list-group-item list-group-item-action">Facilidades</a>
        <a href="#" class="list-group-item list-group-item-action">¿Cómo llegar?</a>
        <a href="#" class="list-group-item list-group-item-action">Tarifas</a>
        <a href="#" class="list-group-item list-group-item-action">Reservar en línea</a>
        <a href="#" class="list-group-item list-group-item-action">Contáctenos</a>
    </div>
}