@model Hotel_El_Dorado_Admin.Models.TemporadaModel

@{
    ViewData["Title"] = "EditarTemporada";
    TemporadaModel t = (TemporadaModel)ViewData["item"];
}

<h1>EditarTemporada</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertarTemporada" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" readonly/>
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de llegada:</label>
                <input type="date" class="form-control form-control-sm" asp-for="fechaInicio" id="fechaInicio" required href="javascript:;" onchange="verificarFecha(); return false;" min="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <label class="col-form-label">Fecha de Salida:</label>
                <input type="date" class="form-control form-control-sm" asp-for="fechaFin" id="fechaFin" required href="javascript:;" onchange="verificarFecha(); return false;" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <label asp-for="descuento" class="control-label"></label>
                <input asp-for="descuento" class="form-control" />
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-controller="Temporada" asp-action="ModificarTemporada" type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
