@model Hotel_El_Dorado_Admin.Models.PublicidadModel
@{
    ViewData["Title"] = "Actualizar Publicidad";
    Layout = "_Layout";
}
<div class="AdministrarHabitaciónTexto">
    <h2 id="h2">Modificar Publicidad</h2>
</div>
<div class="row">
    <div class="container"><br />
        <form class="form-horizontal" enctype="multipart/form-data" method="POST">
           <div class="form-group col-sm-4 col-md-4">
                     <label class="control-label lbcostos">Link</label>
                        <input type="number" class="form-control form-control-sm" asp-for="id" required readonly hidden/>
                      <input type="text" class="form-control form-control-sm" asp-for="link" style="border: solid;" required />
           </div>

              <div class="col-sm-4">
                  <div class="GaleryContainer">
                     <div class="container-img-big">
                         <label class="control-label lbcostos">Imagen Actual</label>
                         <img id="imgBig" class="img-responsive img-big" src="~/img/@Model.Imagen"  alt="Chania">
                         
                     </div>
                   </div>
              </div>
              <div class="form-group col-sm-4">
                  <div class="form-group costoInputs">
                        <input type="file" class="form-control form-control-sm"  asp-for="Imagen" id="Imagen" name="Imagen">
                  </div>
             </div>
             <div class="form-group col-sm-4 botonesInput">
                 <div class="form-group">
                        <input asp-controller="Administrador" asp-action="ActualizarPublicidad" type="submit" value="Aceptar" class="btn btn-primary" />
                        <a asp-controller="Administrador" asp-action="verPublicidad" class="btn btn-danger">Cancelar</a>
                    </div>
             </div>
           </form>
    </div>
</div>
