@{
    ViewData["Title"] = "Administrar Habitación";
    Layout = "_Layout";
}
<div class="AdministrarHabitaciónTexto">
    <h2>Administrar Habitación</h2>
</div>
<div class="row">
    <div class="col-md-8 justify-content-center textoStandard"><br />
        <span class="textoStandard">Junior <a asp-controller="Administrador" asp-action="verHabitacionJunior">Ver Tipo Habitación</a></span><br /><br />
        <table class="table table-bordered table-striped table-hover tableStandard">
            <thead>
              <tr>
                <th>Número de Habitacion</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
                @foreach (HabitacionModel habitacionModel in ViewBag.ListaHabitacion)
                    {
                      @if (habitacionModel.Activa == true)
                        {
                          <tr>
                            <td>@habitacionModel.Numero_Habitacion</td>
                            <td><input class="form-check-input" type="checkbox" value="@habitacionModel.ID_Habitacion" id="flexCheckDefault" checked onclick="activa()"><label class="lbActiva" for="flexCheckDefault">Activa?</label></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@habitacionModel.Numero_Habitacion</td>
                            <td><input class="form-check-input" type="checkbox" value="@habitacionModel.ID_Habitacion" id="flexCheckDefault" onclick="activa()"><label class="lbActiva" for="flexCheckDefault">Activa?</label></td>
                          </tr>
                    }
                    }
            </tbody>
         </table>
    </div>
</div>