@{
    ViewData["Title"] = "Habitación Standard";
    Layout = "_Layout";
}
<div class="AdministrarHabitaciónTexto">
    <h2>Modificar Habitación</h2>
</div>
<div class="row">
    <div class="col-md-8 justify-content-center textoStandard"><br />
        <span class="textoStandard">Standard </span><br /><br />
    </div>
</div>